

<h1> Edit Comment: </h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for(@comment) do |f| %>

    <%= f.label :task %>
     <%= f.collection_select :task_id, Task.all, :user_id, :task_name %>
<br>
<br>
     <%= f.label :message %>
     <%= f.text_area :message %>
<br>
<br>
    <%= f.submit 'Save Changes'%>

    <% end %>