<%= render 'layouts/styling' %>

<h2> Edit Comment. </h2>

<%= render partial: "layouts/errors", locals: {object: @comment} %>


<%= form_for(@comment) do |f| %>
     <%= render partial: 'comments/form', locals: {f: f} %>
<% end %>

    <% if current_user == @comment.user %> 
    <%= button_to "Delete Comment", comment_path(@comment), method: :delete  %>
<br> 
  <% end %>