<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>

<h2> Edit Comment. </h2>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for(@comment) do |f| %>

    <%= f.label :task %>
     <%= f.collection_select :task_id, Task.all, :user_id, :task_name %>
<br>
<br>

     <%= f.label :message %>
     <%= f.text_area :message %>
<br>
<br>

    <%= f.submit 'Save Changes'%>

    <% end %>

    <% if current_user == @comment.user %> 
    <%= button_to "Delete Comment", comment_path(@comment), method: :delete  %>
<br> 
  <% end %>