

<h1> Create Comment here! </h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for @comment do |f| %>

     <% if !@comment.task %>
    <%= f.label :task_name %>
     <%= f.collection_select :task_id, Task.all, :id, :task_name %>
     <% else %>
    <%= f.hidden_field :task_id %>
    <% end %>
<br>
<br>
     <%= f.label :message %>
     <%= f.text_field :message %>
<br>
<br>
    <%= f.submit %>

    <% end %>