<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>

<h2> Create a Comment. </h2>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for @comment do |f| %>

     <% if !@comment.task %>
    <%= f.label :task_name %>
     <%= f.collection_select :task_id, Task.all, :id, :task_name %>
     <% else %>
    <%= f.hidden_field :task_id %>
    <% end %>
<br>
<br>
     <% if !@comment.daily_routine %>
    <%= f.label :daily_plan %>:
     <%= f.collection_select :daily_routine_id, DailyRoutine.all, :id, :daily_plan %>
     <% else %>
    <%= f.hidden_field :daily_routine_id %>
    <% end %>
    <br>
<br>
     <% if !@comment.journal %>
    <%= f.label :date %>:
     <%= f.collection_select :journal_id, Journal.all, :id, :date %>
     <% else %>
    <%= f.hidden_field :journal_id %>
    <% end %>
    <br>
    <br>
     <%= f.label :message %>
     <%= f.text_area :message %>
<br>
<br>
    <%= f.submit %>

    <% end %>