<h1> Edit task </h1>
<ul>

<%= form_for(@task) do |f| %>
<%= f.label :task_name %>
    <%= f.text_field :task_name %>


 <br>
  <br>


     <%= f.label :prayer %>
    <%= f.text_area :prayer%>


 <br>
  <br>


     <%= f.label :exercise %>
    <%= f.text_field :exercise %>


 <br>
  <br>


     <%= f.label :supplements %>
    <%= f.text_field :supplements %>


 <br>
  <br>


     <%= f.label :daily_plan %>
    <%= f.text_area :daily_plan %>


 <br>
  <br>


     <%= f.label :stretch %>
    <%= f.text_field :stretch %>


 <br>
  <br>


     <%= f.label :diet %>
    <%= f.text_area :diet %>


 <br>
  <br>


<%= f.submit %>

    <% end %>

    </ul>
