<%= render 'layouts/styling' %>

<h2> Edit Task. </h2>


<%= form_for(@task) do |f| %>

<%= f.label :date %>
<%= f.date_select :date, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
         } %>
<br>
 <br>
  <%= f.label :task_name %>
  <br>
    <%= f.text_area :task_name %>

    <br>
  <br>

  <h2>3 actions to help you finish this task.</h2>
<%= label_tag("Please check off these actions in the edit view when you complete them.") %>
<br>

<%= check_box_tag(:action_one) %>
<%= label_tag(:action_one, "Action 1:") %> <%= @task.action_one %>
<br>
<%= check_box_tag(:action_two) %>
<%= label_tag(:action_two, "Action 2:") %> <%=  @task.action_two %>
<br>
<%= check_box_tag(:action_three) %> 
<%= label_tag(:action_three, "Action 3:") %> <%=  @task.action_three %>
<br>
<br>

   <%= f.label :action_one %>
   <br>
    <%= f.text_area :action_one %>
 <br>
  <br>
     <%= f.label :action_two %>
     <br>
    <%= f.text_area :action_two %>

 <br>
  <br>
     <%= f.label :action_three %>
     <br>
    <%= f.text_area :action_three %>

 <br>
  <br>

   <p><%= f.label :deadline %>:
<%= f.date_select :deadline, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
         } %></p>
<br>
 <p><%= f.label :estimate_time_to_finish_task %>: write how many hours and/or minutes it will take to complete this task</p>
    <%= f.text_area :estimate_time_to_finish_task %>

<br>
<br>
    <%= f.label :priority_ranking %>
   <%= f.select :priority_ranking, options_for_select((1..6), @task.priority_ranking) %>
    <br>
     <br>

<%= f.submit "Save Changes" %>
    <% end %>
</ul>
