<%= render 'layouts/nav' %>
<h1> Edit task </h1>
<ul>
<%= render partial: "layouts/errors", locals: {object: @task} %>

<%= form_for(@task) do |f| %>

<%= f.label :date %>
<%= f.date_select :date, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
         } %>
<br>
  <br>
    <%= f.label :priority_ranking %>
<%= f.select(:priority_ranking, options_for_select((1..6), :selected => @task.priority_ranking, :include_blank => true)) %>
 <br>
  <br>
<%= f.label :task_name %>
    <%= f.text_area :task_name %>
 <br>
  <br>
     <%= f.label :prayer %>
    <%= f.text_area :prayer%>
 <br>
  <br>
     <%= f.label :exercise %>
    <%= f.text_field :exercise %>
 <br>
  <br>
     <%= f.label :supplements %>
    <%= f.text_area :supplements %>
 <br>
  <br>
     <%= f.label :daily_plan %>
    <%= f.text_area :daily_plan %>
 <br>
  <br>
     <%= f.label :stretch %>
    <%= f.text_field :stretch %>
 <br>
  <br>
     <%= f.label :diet %>
    <%= f.text_area :diet %>
 <br>
  <br>
<%= f.submit "Save Changes" %>
    <% end %>
</ul>
