

<%= render partial: "layouts/errors", locals: {object: @task} %>
<!-- render the errors partial, sent it to the @task as the object  -->
<!-- render partial + use local variables-->
<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>

<ul>
<h2> Plan your Daily Tasks. </h2>
<h3> Next to each row, fill out each part in the space provided. For the "Task name" row, please write 1 task that needs to be completed that day. </h3>


<%= form_for(@task) do |f| %>

    <%= f.label :task_name %>
    <%= f.text_area :task_name %>
    <br>
  <br>

     <%= f.label :action_one %>
    <%= f.text_area :action_one %>

 <br>
  <br>
     <%= f.label :action_two %>
    <%= f.text_field :action_two %>

 <br>
  <br>
     <%= f.label :action_three %>
    <%= f.text_area :action_three %>

<br>
  <br>

<%= f.label :date %>
<%= f.date_select :date, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
         } %>
 <br>
  <br>

    <%= f.label :priority_ranking %>
   <%= f.select :priority_ranking, options_for_select(1..6), { prompt: "Please Choose a ranking, 1 = not urgent and 6 = ULTRA important!" } %>
    <br>
     <br>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit %>

    <% end %>

    </ul>
