<ul>
<h1> Create your new Task here! </h1>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
 
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@task) do |f| %>

    <%= f.label :task_name %>
    <%= f.text_field :task_name %>

    <br>
     <br>

     <%= f.label :prayer %>
    <%= f.text_area :prayer%>

 <br>
  <br>
     <%= f.label :exercise %>
    <%= f.text_field :exercise %>

 <br>
  <br>

     <%= f.label :supplements %>
    <%= f.text_field :supplements %>

 <br>
  <br>

     <%= f.label :daily_plan %>
    <%= f.text_area :daily_plan %>

 <br>
  <br>

     <%= f.label :stretch %>
    <%= f.text_field :stretch %>


 <br>
  <br>

     <%= f.label :diet %>
    <%= f.text_area :diet %>

 <br>
  <br>


    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit %>

    <% end %>

    </ul>
