
<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>


<h2> Task.  </h2>
<h2>------------------------> <%= @task.task_name %> <----------------------------</h2>
<div style="text-align: left;">
<h3>Date task was created:</h3>  <%=  @task.date %>
<br>
<br>
<h3>Priority Ranking:</h3><%= @task.priority_ranking %>

<h3>3 actions to help you finish this task.</h3>
<%= label_tag("Please check off these actions when you complete them.") %>
<br>
<br>
<%= check_box_tag(:action_one) %>
<%= label_tag(:action_one, "Action 1:") %> <%= @task.action_one %>
<br>
<%= check_box_tag(:action_two) %>
<%= label_tag(:action_two, "Action 2:") %> <%=  @task.action_two %>
<br>
<%= check_box_tag(:action_three) %> 
<%= label_tag(:action_three, "Action 3:") %> <%=  @task.action_three %>
<br>
<br>

 <h3>Deadline: </h3>
  <br>
<br>
 <h3> Estimate Time to finish task: </h3>
<br>

 <% if @task.user == current_user %>    
<%= button_to "Edit Task", edit_task_path, method: :get %> 
<br>  
<%= button_to "Delete Task", task_path(@task), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
<br> 
<% end %> 
<%= button_to "Add Comment", new_comment_path, method: :get %>

<br>  
</div>
<div style="text-align: left;">

    <%= image_tag 'coldpenguin.png', width: 235, height: 250, alt: 'tasky' %>
</div>
<h2>Comments. </h2>
    <% @task.comments.each do |comment| %>
     <br>   
     <strong><%= current_user.full_name  %>  </strong><%= comment.message %>  
                <br>   
    <% if comment.user == current_user %>
    <br>
    <%= button_to "Edit Comment", edit_comment_path(comment), method: :get %>
    <br>
    <%= button_to "Delete Comment", comment_path(comment), data: {confirm: "Are you sure you want to delete this task?"}, method: :delete  %>

<% end %> 
 <% end %>
</ul>



         


 

    