<h1> Sign up to join the GLADD family today.</h1>

<!-- <form action="/users" method ="POST">
<input type="submit" value ="Register" />
</form> 
or
<%= form_tag("/users") do %>
    <%= submit_tag %>
<% end %>

-->

<%= form_for(@user) do |f| %>

  <%= f.label :full_name %>
    <%= f.text_field :full_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
     <%= f.password_field :password %> <!-- password overrides and converts to password_digest-->

<%= f.submit "Sign Up" %>
<% end %>




