<%= render 'layouts/styling' %>

<h2>Daily Routines. </h2>

<ul>
<% @daily_routines.each do |daily_routine|%>
<br>
 <strong><li><%= daily_routine.user.full_name %></strong>  <%= link_to daily_routine.date.strftime("%a %b %e %Y"), daily_routine_path(daily_routine) %></li>
<br>
<% if current_user == daily_routine.user %> 
    <%= button_to "Edit", edit_daily_routine_path(daily_routine), method: :get  %> 
    <%= button_to "Delete", daily_routine_path(daily_routine), data: {confirm: "Are you sure you want to delete this daily routine?"}, method: :delete  %>
<br> 
  <% end %>
<% end %>
</ul>

