
<%= render partial: "layouts/errors", locals: {object: @journal} %>

<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
h4 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>
<ul>
<h2> Edit Daily Journal. </h2>

<div class="container">

<%= form_for(@journal) do |f| %>

<%= f.label :date %>
<%= f.date_select :date, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
         } %>
 <br>
  <br>
  <h3>Fill out your word of the day and bible verse of the day below.</h3>
  <%= f.label :word_of_day %>
         <br>
    <%= f.text_area :word_of_day  %>

          <br>
<%= f.label :bible_verse_of_day %>
         <br>
    <%= f.text_area :bible_verse_of_day %>
    <br>
<h3>Instructions: Write down where you are each day. On a scale of 1 to 10 (1 is bad, 10 is excellent) rate the areas of focus, organization, impulse control, worry, mood, temper control, memory, anxiety, sleep and whatever else is important to you.</h3>

    <%= f.label :focus %>
    <br>
   <%= f.select :focus, options_for_select(1..10) %>
 <br>
  <br>
    <%= f.label :organization %>
        <br>
    <%= f.select :organization, options_for_select(1..10) %>

    <br>
     <br>

     <%= f.label :impulse_control %>
         <br>
    <%= f.select :impulse_control, options_for_select(1..10) %>

 <br>
  <br>
     <%= f.label :worry %>
         <br>
    <%= f.select :worry, options_for_select(1..10)  %>
 <br>
  <br>
     <%= f.label :mood %>
         <br>
    <%= f.select :mood, options_for_select(1..10) %>

 <br>
  <br>
 <%= f.label :temper_control %>
         <br>
    <%= f.select :temper_control, options_for_select(1..10) %>
<br>
<br>
 <%= f.label :memory %>
         <br>
    <%= f.select :memory, options_for_select(1..10) %>
<br>
<br>
 <%= f.label :anxiety %>
         <br>
    <%= f.select :anxiety, options_for_select(1..10)  %>
<br>
<br>
 <%= f.label :sleep %>
         <br>
    <%= f.select :sleep, options_for_select(1..10)  %>
<br>
<br>
<h3>Write down any notes for the day :</h3>
 <%= f.label :notes %>
         <br>
    <%= f.text_area :notes  %>

    <br>
<br>
<h3>Write down any reminders for the day:</h3>
 <%= f.label :reminders %>
         <br>
    <%= f.text_area :reminders   %>
        <br>
<br>
<h3>3 Things I am Grateful for today:</h3>
 <%= f.label :three_things_i_am_grateful_for %>
         <br>
    <%= f.text_area :three_things_i_am_grateful_for   %>

<br>
<h3>Write down any negative thoughts that are not true :</h3>

 <%= f.label :negative_thoughts %>
         <br>
    <%= f.text_area :negative_thoughts   %>

   <br>
<h3>Write down any challenges you faced today and how you overcame them:</h3>

 <%= f.label :challenges %>
         <br>
    <%= f.text_area :challenges   %>

   <br>
<h3>Write down what you ate for each meal and how it made you feel:</h3>

 <%= f.label :breakfast %>
         <br>
    <%= f.text_area :breakfast  %>

       <br>
 <%= f.label :snack_one %>
         <br>
    <%= f.text_area :snack_one    %>
       <br>
 <%= f.label :lunch %>
         <br>
    <%= f.text_area :lunch   %>
       <br>
 <%= f.label :snack_two  %>
         <br>
    <%= f.text_area :snack_two   %>
       <br>
 <%= f.label :dinner %>
         <br>
    <%= f.text_area :dinner   %>
       <br>
 <%= f.label :healthy %>
         <br>
    <%= f.select :healthy, options_for_select("Yes" => true, "No" => false), { prompt: "Select yes/no if meal was healthy" }   %>
       <br>
 <%= f.label :how_did_i_feel_after %>
         <br>
    <%= f.text_area :how_did_i_feel_after   %>

       <br>
 <%= f.label :time_eaten %>
         <br>
    <%= f.time_select :time_eaten   %>
       <br>

<h3> Below, fill out what is most important to you in these areas. Write what you want for each goal and what you do not want for each goal.</h3>
<br>
<h2>Biological Goals:</h2>
 <%= f.label :brain_health %>
         <br>
    <%= f.text_area :brain_health   %>
       <br>
 <%= f.label :physical_health %>
         <br>
    <%= f.text_area :physical_health  %>
       <br>
<h2>Psychological Goals:</h2>
 <%= f.label :emotional_health %>
         <br>
    <%= f.text_area :emotional_health   %>
       <br>
 <%= f.label :thinking_patterns %>
         <br>
    <%= f.text_area :thinking_patterns   %>
       <br>
<h2>Social Goals:</h2>
 <%= f.label :spouse %>
         <br>
    <%= f.text_area :spouse  %>
       <br>
 <%= f.label :children%>
         <br>
    <%= f.text_area :children  %>
       <br>
 <%= f.label :family_and_friends %>
         <br>
    <%= f.text_area :family_and_friends  %>
    <br>
<%= f.label :work%>
         <br>
    <%= f.text_area :work  %>

  <br>
<%= f.label :school %>
         <br>
    <%= f.text_area :school  %>
      <br>
<%= f.label :money %>
         <br>
    <%= f.text_area :money  %>

      <br>

<h2>Spiritual Goals:</h2>
<%= f.label :spiritual_life %>
         <br>
    <%= f.text_area :spiritual_life %>
      <br>
<%= f.label :character %>
         <br>
    <%= f.text_area :character %>
      <br>
<%= f.label :passions %>
         <br>
    <%= f.text_area :passions %>

          <br>
<%= f.label :community_service %>
         <br>
    <%= f.text_area :community_service %>

          <br>
<%= f.label :giving_to_charity %>
         <br>
    <%= f.text_area :giving_to_charity %>

          <br>


  </div>

 <br>
  <br>

   <%= f.submit "Save Changes" %>
    <% end %>
  
    </ul>