<%= render 'layouts/styling' %>
<%= render partial: "layouts/errors", locals: {object: @journal} %>

<h2> Edit Daily Journal. </h2>



<%= form_for(@journal) do |f| %>
    <%= render partial: 'journals/form', locals: {f: f} %>
<%= f.submit "Save" %>
    <% end %>
  
  
