<%= render 'layouts/styling' %>

<h2>Daily Journals. </h2>


<ul>
    <% @journals.each do |journal|%>
<br>
  <strong><li><%= journal.user.full_name %></strong>   <%= link_to journal.date.strftime("%a %b %e %Y"), journal_path(journal) %></li>
<br>
<% if current_user == journal.user %> 
    <%= button_to "Edit", edit_journal_path(journal), method: :get  %> 
    <%= button_to "Delete", journal_path(journal), data: {confirm: "Are you sure you want to delete this journal"}, method: :delete  %>
<br> 
  <% end %>
<% end %>
</ul>

