
<%= render 'layouts/styling' %>
<h2> Write in your Daily Journal. </h2>



<%= form_for(@journal) do |f| %>
    <%= render partial: "layouts/errors", locals: {object: @journal} %>

    <%= render partial: 'journals/form', locals: {f: f} %>

   <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit %>

    <% end %>

  
 


