<nav>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if !user_signed_in? %>
            <li><%= link_to "Signup", new_user_registration_path %></li> 
                  <!--new_user_registration_path= devise route = get request to signup form -->
            <li><%= link_to "Login", new_user_session_path %></li>
               <!--new_user_session_path= devise route = get request to login form -->
        <% else %>
            <li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
            <!--destroy_user_session_path= devise route = deletes request to sign out user 
            -don't forget to send method as well -->
            <p><%= current_user.full_name %></p>
        <% end %>
    </ul>

</nav>