<nav>
    <ul>
    <div style="text-align: right;">
      <%= link_to "Home", root_path %>
               <br>
        <% if user_signed_in? %>
           <%= link_to "Create Task", new_task_path %>
           <br>
            <%= link_to "Daily Tasks", tasks_path %>
                     <br>
            <%= link_to "Create Daily Routine", new_daily_routine_path %>
                     <br>
              <%= link_to "Daily Routines", daily_routines_path %>
                     <br>
            <%= link_to "Create Daily Journal", new_journal_path %>
                     <br>
              <%= link_to "Daily Journals", journals_path %>
                     <br>
             <%= link_to "Comment Feed", comments_path %>
                     <br>
           <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
            <!--destroy_user_session_path= devise route = deletes request to sign out user 
            -don't forget to send method as well -->
        <% else %>
            <%= link_to "Signup", new_user_registration_path %> 
                  <!--new_user_registration_path= devise route = get request to signup form -->
            <%= link_to "Login", new_user_session_path %>
               <!--new_user_session_path= devise route = get request to login form -->
            
        <% end %>
        </div>

    </ul>

</nav>